@charset "UTF-8";

@import url('http://fonts.googleapis.com/css?family=Dosis:400,800');

* {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
}

/* =======================
   Layout
======================= */
body {
}

#page {
  border: 1px dotted #b2b2b2;
  margin: 0 auto 0 auto;
  min-height: 600px;
  width: 600px;
}

header {
  border: 1px dotted #b2b2b2;
  margin: 0 auto 0 auto;
  width: 600px;
}

footer {
  border: 1px dotted #b2b2b2;
  margin: 0 auto 0 auto;
  width: 600px;
}


/* =======================
   Typography
======================= */
h1, h2, h3 {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
}

p {
  margin-top: 25px;
}
